---
import { getI18N } from "../../i18n";
import ArrowIcon from "../global/icons/arrow-icon.astro";
const i18n = getI18N(Astro.url.pathname);
---

<div
  id='me-card'
  class='me-card text-secondary rounded-card relative z-30 flex min-[1180px]:flex-col justify-start min-[1180px]:overflow-hidden max-[900px]:gap-2'
>
  <div class='relative size-full'>
    <img
      src={"/images/me-photo.jpg"}
      alt='Nicolás Agüero'
      class='max-[900px]:hidden w-full max-[900px]:min-w-[200px] max-[600px]:rounded-card max-[600px]:h-auto max-[1180px]:h-[300px] min-[1180px]:aspect-square object-cover max-[1180px]:rounded-s-card min-[1180px]:rounded-t-card max-[1180px]:top-0 h-full z-20'
    />
    <img
      src={"/images/me-photo.jpg"}
      alt='Nicolás Agüero'
      class='min-[900px]:hidden w-full min-[750px]:min-w-[200px] max-[600px]:rounded-card max-[900px]:rounded-card min-[1180px]:aspect-square object-cover max-[1180px]:rounded-s-card min-[1180px]:rounded-t-card max-[1180px]:top-0 h-full z-20'
    />
    <h2
      id='me-name'
      class='max-[751px]:hidden min-[900px]:hidden absolute bottom-0 left-0 right-0 text-3xl min-[600px]:text-xl text-center font-bold uppercase text-white bg-primary p-4 max-[600px]:rounded-b-card min-[600px]:rounded-b-card'
    >
      Nicolás Agüero
    </h2>
  </div>

  <div
    class='max-[751px]:flex min-[751px]:hidden min-[900px]:flex flex-col max-[1180px]:justify-between max-[1180px]:items-start gap-3 bg-primary min-[900px]:rounded-l-none min-[1180px]:rounded-b-card p-6 w-full rounded-card max-[1180px]:rounded-r-card min-[1180px]:rounded-r-none z-10'
  >
    <div class='flex flex-col gap-4 min-[1180px]:items-center'>
      <span
        class='w-fit text-tertiary text-base min-[1180px]:text-sm min-[1180px]:border border-secondary rounded-full min-[1180px]:px-3 min-[1180px]:py-0.5 max-[1180px]:order-2'
      >
        {i18n.ME_SECTION.LABEL}
      </span>
      <h2 id='me-name' class='text-3xl font-bold uppercase'>Nicolás Agüero</h2>
    </div>
    <a
      href='/CV-Nicolas_Aguero.pdf'
      target='_blank'
      class='min-[1180px]:hidden size-fit px-4 py-1 text-secondary text-sm border border-secondary rounded-full flex items-center gap-2 ring-offset-0 ring-1 hover:ring-2 hover:ring-offset-4 ring-offset-primary hover:[&>span]:translate-x-1 transition-all duration-300 ease-out cursor-pointer'
    >
      {i18n.ME_SECTION.CV_SECTION.BUTTON_TEXT}
      <span class='transition-transform duration-300 ease-out -rotate-45'>
        <ArrowIcon color='var(--color-secondary)' size='12' />
      </span>
    </a>
  </div>
</div>
